<%- include('blocks/header') -%>

<div class="post">
    <% for(var i = 0; i < post.length; i++){ %>
        <div class="post-single">
            <h2><a href="/portfolio/<%- post[i].id %>_<%- post[i].title.toLowerCase().replace(' ','-') %>" title="<%- post[i].title %>"><%- post[i].title %></a></h2>
            <div class="post-single__image">
                <img src="/public/content/<%- post[i].images %>" alt="<%- post[i].title %>"/>
            </div>
            <div class="post-single__description">
                <span><%- post[i].description %></span>
            </div>
            <div class="post-single__type">
                <span><%- post[i].type %></span>
            </div>
        </div>
    <% }; %>
</div>

<%- include('blocks/footer') -%>